<ion-header>
  <ion-toolbar>
    <ion-title>
      Detail of patient
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" *ngIf="userInfo">
  <ion-card class="cardClass">
    <ion-card-header>
      <img width="70" src="https://i.ya-webdesign.com/images/avatar-png-1.png">
      <ion-card-subtitle>Id: {{userInfo.id}}</ion-card-subtitle>
      <ion-card-title *ngIf="userInfo.name">{{userInfo.name}} </ion-card-title>
      <ion-card-title class="subtitle">{{userInfo.email}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Phone: {{userInfo.phone }}</p>
      <p> Address: {{userInfo.address.street}}- {{userInfo.address.city}}</p>
      <p> Zip code: {{userInfo.address.zipcode}}</p>
    </ion-card-content>
  </ion-card>
  <ion-list *ngIf="medication">
    <ion-list *ngFor="let medic of medication">
      <ion-item>
        <ion-label>
          <h2>{{medic.id}} -{{medic.title}} </h2>
          <h3>{{medic.body}}</h3>
          <p></p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-list>

  <ion-icon name="arrow-back-outline" (click)="navigate()"></ion-icon>
</ion-content>